<h1>La liste des Pokemons</h1>

<a href="{{path('pokemon_new')}}">Ajouter un Pokemon</a>

{% for pokemon in pokemons %}
<section>
    <h2>{{pokemon.name}}</h2>
    <span>Type: {{pokemon.type}}</span>
    <span>Level: {{pokemon.level}}</span>
    <p>Description: {{pokemon.desciption}}</p>
    <a href="{{ path('pokemon', { id: pokemon.id }) }}">
        <button>Voir</button>
    </a>
   {% include "pokemon/_delete_pokemon.html.twig" %}
</section>
{% endfor %}